body{
  background-color: #FEF2BF;
}
#level-title1 {
  font-size: 3rem;
  color:red;
  text-align: center;
}
.rmr{
    font-size: 2rem;
    color:green;
}
footer{
  text-align: center;
  font-size: 3rem;
  color: red;
}
